<form (submit)="add()" #ngForm="ngForm">
  <p>
    <label>Name</label>
    <input #inputName #ngModelName="ngModel" type="text" name="name" [(ngModel)]="contact.name" required>
    <span *ngIf="ngModelName.invalid && ngModelName.errors['required'] && ngModelName.touched">Name is required</span>
    {{ngModelName.errors | json}} <!-- text -->
    {{ngForm.submitted}}
  </p>
  <p>
    <label>Email</label>
    <input type="email" name="email" [(ngModel)]="contact.email" email>
  </p>
  <p>
    <label>Phone</label>
    <input type="tel" name="phone" [(ngModel)]="contact.phone">
  </p>
  <p>
    <button>Add</button>
  </p>
</form>
