<h2>Add a contact</h2>
<form [formGroup]="userForm" (ngSubmit)="handleSubmit()">
  <mat-form-field>
    <input type="text" formControlName="name" matInput placeholder="Name" />
    <mat-error>Name is required</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input type="email" formControlName="email" matInput placeholder="Email" />
    <mat-error *ngIf="userForm.get('email').getError('required')">Email is required</mat-error>
    <mat-error *ngIf="userForm.get('email').getError('email')">Email is not valid</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input type="tel" formControlName="phone" matInput placeholder="Phone" />
  </mat-form-field>

  <button type="reset" mat-flat-button>Reset</button>

  <button type="submit" mat-flat-button color="accent" [disabled]="userForm.invalid">
    Add
  </button>
</form>
