<app-hello *ngFor="let prenom of prenoms"
            [prenom]="prenom"></app-hello>


<app-counter [ngClass]="{ important: true }"></app-counter>

<app-contact-form></app-contact-form>

<app-select [items]="prenoms"
[selection]="selectedPrenom"
(selectionChange)="selectedPrenom = $event"></app-select>

<app-select [items]="prenoms"
[(selection)]="selectedPrenom"></app-select>
<!-- BANANA IN A BOX [()] -->

<app-hello [prenom]="selectedPrenom"></app-hello>


<button (click)="showClock = !showClock">Toggle Clock</button>

<app-clock *ngIf="showClock"></app-clock>
<app-clock [delay]="3 * 1000"></app-clock>